<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Edit Data</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="./style.css">
 <link rel="stylesheet" href="./css/pannel.css">
</head>
<body>
 <nav id="nav-1">
  <a class="link-1" href="/">pageHome</a>
  <a class="link-1" href="TableAdmin">Table</a>
  <a class="link-1" href="#">LogOut</a>
 </nav>
 <!-- partial:index.partial.html -->
 <div class="container">
  <header>
   <h1>
    <a href="#">
     <img src="https://k.top4top.io/p_3260a9ttc0.png" alt="Authentic Collection">
    </a>
   </h1>
  </header>
  <h1 class="text-center">Edit Data</h1>
  <form class="registration-form">
   <label class="col-one-half">
    <span class="label-text">BOUSSKOURA</span>
    <input type="number" name="firstName">
   </label>
   <label class="col-one-half">
    <span class="label-text">MARRAKECH</span>
    <input type="number" name="lastName">
   </label>
   <label class="col-one-half">
    <span class="label-text">TANGER</span>
    <input type="number" name="firstName">
   </label>
   <label class="col-one-half">
    <span class="label-text">AGADIR</span>
    <input type="number" name="lastName">
   </label>
   <label class="col-one-half">
    <span class="label-text">ZARKTOUNI</span>
    <input type="number" name="firstName">
   </label>
   <label class="col-one-half">
    <span class="label-text">DAR BOUAZA</span>
    <input type="number" name="lastName">
   </label>
   <label class="col-one-half">
    <span class="label-text">Tamara</span>
    <input type="number" name="firstName">
   </label>
   <label class="col-one-half">
    <span class="label-text">Meknasse</span>
    <input type="number" name="lastName">
   </label>
   <label class="col-one-half">
    <span class="label-text">Soukrate</span>
    <input type="number" name="lastName" style="width: 100%">
   </label>
   <div class="text-center">
    <button class="submit" name="register" style="background: green ;display: inline-block">Edite</button>
    <button class="submit" name="register" style="background: red ;display: inline-block">Delete</button>
   </div>

  </form>
 </div>
 <!-- partial -->
</body>
</html>