/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
}
.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}
nav .navbar .links {
    display: flex;
}
nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px ;
    margin: 30px 0;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}
.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
    /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}
.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}
.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #000;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #000;
}
.search-box .input-box::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #000;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}
.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}
.navbar .nav-links .sidebar-logo {
    display: none;
}
.navbar .bx-menu {
    display: none;
}
@media (max-width: 920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }
    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 15px;
    }
}
@media (min-width: 800px) {
    nav {
        /* position: relative; */
        zoom: 1.5;
        background: #000;
    }
    .navbar .bx-menu {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #000;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }
    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow {
        line-height: 40px;
    }
    nav .navbar .links li {
        display: block;
    }
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    .links li {
        margin-top: 30px;
    }
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }
    .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}
@media (max-width: 670px) {
    nav .navbar .nav-links {
        width: 100%;
    }
}

:root {
    --main-color: #2f55d4;
    --txt-color: #3c4858;
    --color-grey: #a2a2a2;
    --light-grey: #f8f9fc;
    --color-style-1: #76d6af;
    --color-style-5: #f70003;
}

table.ml-table {
    padding: 1em;
    background-color: rgba(47, 85, 212, 0.2);
    border-collapse: inherit;
    border-spacing: 0 5px;
    margin-top: 100px;
    width: 100%;
    table-layout: auto;
}
table.ml-table tbody tr {
    background-color: #fff;
}
table.ml-table tbody tr td {
    padding: 1.5em;
}
table.ml-table th {
    position: sticky;
    top: 0;
    padding: 1em 1.5em;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    vertical-align: middle;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
table.ml-table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: var(--txt-color);
}
.ml-table td:first-child,
.ml-table th:first-child {
    border-radius: 3px 0 0 3px;
}
.ml-table td:last-child,
.ml-table th:last-child {
    border-radius: 0 3px 3px 0;
}
table.ml-table tr td.important {
    font-weight: bold;
}
table.ml-table tr.valid {
    outline: 1px solid rgba(118, 214, 175, 0.5);
}
table.ml-table tr.valid td[data-label="Etat"] {
    color: var(--color-style-1);
}
table.ml-table tr.invalid td[data-label="Etat"] {
    color: var(--color-style-5);
}
@media screen and (max-width: 700px) {
    table.ml-table .tbl-content {
        height: 100%;
    }
    table.ml-table {
        border: 0;
    }
    table.ml-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table.ml-table tr {
        border-bottom: 0;
        display: block;
        margin-bottom: 0.625em;
        border: 1px solid lightgrey;
    }
    table.ml-table tr:nth-child(even) {
        background-color: var(--light-grey);
    }
    table.ml-table td {
        border-bottom: 1px solid rgba(162, 162, 162, 0.1);
        display: block;
        font-size: 0.8em;
        text-align: right;
    }
    table.ml-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--main-color);
    }
    table.ml-table td:last-child {
        border-bottom: 0;
    }
}
table.ml-table .list-button {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
table.ml-table .list-button_item {
    margin-left: 10px;
}
table.ml-table .list-button_item button {
    cursor: pointer;
    padding: 0.5em;
    background-color: rgba(47, 85, 212, 0.2);
    color: var(--main-color);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
    box-shadow: 0 0 0 0 transparent;
    transition: 0.5s;
}
table.ml-table .list-button_item button:hover,
table.ml-table .list-button_item button:focus {
    outline: none;
    box-shadow: 0 0px 0px 3px rgba(47, 85, 212, 0.5);
}
button {
    position: relative;
}
.button_info-title {
    transition: 0.7s;
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: var(--main-color);
    padding: 4px 6px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    max-width: 150px;
    z-index: 1000;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 10px);
}
button:hover .button_info-title,
button:focus-within .button_info-title {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        zoom: 1.3;
    }
    .ml-table {
        font-size: 30px;
        font-weight: 900;
        border-radius: 2%;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

/* style Css nav Bar */
